.container {
  padding: 24px;
  margin-top: 10%;
  border: 6px solid black;
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  line-height: 2;
}

.introduction {
  font-weight: 700;
  font-size: 2em;
}

.underlined {
  text-decoration: underline;
}

.btnContainer {
  margin-top: 20px;
}

.btn {
  color: black;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2em;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.1s ease-in-out;
}

.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 300px;
}
