.cartContainer {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 350px;
  right: 0;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 600;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 30px;
}

.total {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.btn {
  margin-top: 30px;
  font-family: inherit;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 50px;
}

.itemContainer {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.price {
  font-weight: 500;
  font-size: 1.5em;
  margin-left: auto;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  min-width: 60px;
  border: 1px solid black;
  border-radius: 6px;
}

.quantity {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 500;
}
