.header {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
}

.headerSubContainers {
  display: flex;
  gap: 32px;
  margin: 0 20px;
}

.title {
  font-weight: 700;
  font-size: 2em;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.navLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease-in-out;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navLink:hover::after {
  cursor: pointer;
  width: 100%;
}

.selected {
  font-weight: 700;
}

.svg {
  height: 30px;
  width: 30px;
}

.svg:hover {
  cursor: pointer;
}

.cartLogoContainer {
  position: relative;
}

.cartQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 500;
}
